# Option 1

In [20]:
import os
notebook_path = os.path.abspath("NLP.ipynb")

In [21]:
nlp_dataset = os.path.join(os.path.dirname(notebook_path), "SMSSpamCollection")

In [22]:
rawData = open(nlp_dataset).read()
rawData[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

# Option 2

In [24]:
rawData = open("SMSSpamCollection").read()
rawData[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

In [25]:
parsedData = rawData.replace('\t', '\n').split('\n')

In [26]:
parsedData[0:5]

['ham',
 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
 'ham',
 'Ok lar... Joking wif u oni...',
 'spam']

In [27]:
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [28]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

In [29]:
import pandas as pd

In [30]:
print(len(labelList))
print(len(textList))

5575
5574

In [31]:
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [34]:
fullCorpus = pd.DataFrame({
    'label' : labelList[:-1],
    'body_list' : textList
})

In [35]:
fullCorpus.head()

  label                                          body_list
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [37]:
fullCorpus = pd.read_csv("SMSSpamCollection", sep="\t", header=None)
fullCorpus.columns = ['label', 'body_list']
fullCorpus.head()

  label                                          body_list
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [38]:
print("We have {} rows and {} columns in our dataset".format(len(fullCorpus), len(fullCorpus.columns)))

We have 5572 rows and 2 columns in our dataset

In [39]:
print("Out of {} rows, {} are spam, {} are ham.".format(len(fullCorpus), 
                                                       len(fullCorpus[fullCorpus['label'] == 'spam']),
                                                       len(fullCorpus[fullCorpus['label'] == 'ham'])))

Out of 5572 rows, 747 are spam, 4825 are ham.

In [40]:
print("{} of data is missing its values".format(fullCorpus['label'].isnull().sum()))

0 of data is missing its values

In [41]:
print("{} of data is missing its values".format(fullCorpus['body_list'].isnull().sum()))

0 of data is missing its values